/* Optimization CSS */
/* Jasmine Dempster */
/* CINF362 */
/* 2/28/25 */

    @media (max-width: 768px) { }
    @media (max-width: 480px) { }

h1 {
    font-family: "Times New Roman", serif;
    text-align: center;
    color: #ffffff;
    font-size: 40px
}

body {
    font-family: "Times New Roman", serif;
    text-align: center;
    background-color: #000000;
    color: #ffffff;
    font-size: large
}

footer {
    font-family: "Times New Roman", serif;
    text-align: center;
    color: #ffffff;
    font-size: smaller
}

.block {
  display: block;
  width: 100%;
  border: #ffffff;
  background-color: #ff00d7;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}
